body {
    background-color: rgb(213,221,243);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    padding: 15px 32px;

}

.tillbaka {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.github {
    background-color: rgb(89, 102, 116);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.linkedin {
    background-color: rgb(2,147,206);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.knapp {
    background-color: rgb(255,189,194);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

/* Lägger till "BULLET" points på onumrerad lista som centreras med text-align: center (syns ej utan detta) */
ul {
  display: inline-block; /* Shrinks the list box to fit the text */
  text-align: left;       /* Re-aligns the bullets/text to the left */

  /* Optional: ensure bullets are 'outside' for proper indentation */
  list-style-position: outside; 
  padding-left: 205px; 
}